body {
  background: #15202B;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  position: absolute;
  width: 1076px;
  height: 58px;
  left: 182px;
  top: 0px;
  background: #343A40;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
}

.home-menu {
  position: absolute;
  width: 38px;
  height: 16px;
  left: 50px;
  top: 19px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.profile-menu {
  position: absolute;
  width: 41px;
  height: 16px;
  left: 125px;
  top: 19px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color:white;
  text-decoration: none;
}

.messageBox {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  width: 600px;
  height: 180px;
  left: 367px;
  top: 105px;
  color: white;
  font-size: large;
  background-color: transparent;
  border: 2px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 6px;
  resize: none;
}

button {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 68px;
  height: 34px;
  left: 889px;
  top: 245px;
  background: #007BFF;
  border-color: #007BFF;
  border-radius: 4px;
  font-size: 16px;
}

.message {
  position: relative;
  font-family: 'Roboto', sans-serif;
  width: 600px;
  height: 84px;
  left: 367px;
  top: 320px;
  margin-bottom: 15px;
  background: #343A40;
  border-radius: 6px;
  overflow-wrap: break-word;
}

.username {
  color: #6C757D;
  font-family: 'Roboto', sans-serif;
  margin: 30px;
}

.date {
  display: inline;
  font-family: 'Roboto', sans-serif;
  margin-left: 250px;
  color: #6C757D;
}

p {
  margin-left: 30px;
}

.loading {
  margin-left: 600px;
  margin-top: 350px;
}

.profile {
  position: absolute;
  width: 103px;
  height: 42px;
  left: 369px;
  top: 110px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.userName {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  width: 90px;
  height: 21px;
  left: 368px;
  top: 178px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 26px;
}

.userBox {
  position: absolute;
  background-color: transparent;
  color: white;
  font-size: large;
  resize: none;
  width: 600px;
  height: 61px;
  left: 367px;
  top: 205px;
  border: 2px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 26px;
}

.save {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  width: 68px;
  height: 34px;
  left: 889px;
  top: 282px;
  background: #007BFF;
  border-radius: 4px;
  margin-top: 26px;
}

.over {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  width: 338px;
  height: 29px;
  left: 383px;
  top: 250px;
  background: #F8D7DA;
  border: 1px solid #F5C6CB;
  box-sizing: border-box;
  border-radius: 4px;
}